.main__filter-btn {
    @extend %reset-list;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 40px;

    @media screen and (min-width: 768px) {
        justify-content: center;
        margin-bottom: 50px;}
}
