.footer {
    @extend %container;
    background-color: var(--footer-bgr-color);
    
}


.footer__container {
    display: block;
    text-align: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 768px){
    display: flex;
    align-items: center;}
       
    @media screen and (min-width: 1200px){ 
    display: flex;
    align-items: baseline;
    flex-wrap: nowrap;
    }
}
