.section-team {
    background-color: var(--bgr-button-secondary);
    padding-top: 60px;
    padding-bottom: 60px;
    
    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;}
}
.team{
    @extend %container;
}

.team-list {
    @extend %reset-list;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
       
    @media screen and (min-width: 768px) {
    gap: 30px;
    flex-basis: calc((100% - 30px * (2 - 1)) / 2);}
    
    @media screen and (min-width: 1200px) {
    display: flex;
    gap:30px;}
}

.team-card {
    background-color: var(--white-color);
    border-radius: 0px 0px 4px 4px;
    text-align: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    flex-basis: calc((100% - 30px * (1 - 1)) / 1);

    &:not(:last-child){
    margin-bottom: 30px;}
    
    @media screen and (min-width: 768px){
    margin-bottom: 30px; 
    gap:30px;
    flex-basis: calc((100% - 30px * (2 - 1)) / 2);}      
    @media screen and (min-width: 1200px){
    gap:0;
    flex-basis: 0;}
}

.team-cont {
    padding-top: 30px;
    padding-bottom: 30px;
}

.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    color: var(--main-text);
}

.social {
    @extend %reset-list;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 16px;
}

.social-link {
    @extend %reset-link;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: var(--white-color);
    border-radius: 50%;
    transition: background-color var(--transition);

    &:hover,
    &:focus {
    background-color: var(--accent-bgr-btn-color);}
    
    &:hover .social-icon {
    fill: var(--white-color);}
    
    &:focus .social-icon {
    fill: var(--white-color);}
}

.social-icon {
    fill: var(--icon-color);
    transition: fill var(--transition);
}