.menu-btn{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-left: auto;

    &:hover,
    &:focus{
        fill: var(--accent-bgr-btn-color);}

    .menu-overlay & {
    position: absolute;
    top: 10px;
    right: 15px;}
    
    @media screen and (min-width: 767px) {
    display: none;}
}
.menu-overlay{
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: var(--white-color);
    max-width: 100%;
    height: 100%;

    transition: opacity var(--transition), visibility var(--transition);

    @media screen and (min-width: 767px) {
        display: none;
    }
    &.is-hidden{
    opacity: 0;
    pointer-events: none;
    visibility: hidden;    
    }

    &.is-open{
    opacity: 1;
    pointer-events: inherit;
    visibility: visible;
    }
    
}
.menu-container{
    display: flex;
    flex-direction: column;
    max-width: 480px;
    height: 100%;
    background-color: var(--white-color);
    padding: 48px 40px;

    transform: translateX(100%);
    transition: transform var(--transition);

    .menu-overlay.is-open &{
        transform: translateX(0);
    }
}
.menu-container__nav {
    margin-bottom: auto;

}
.menu-container__list{
    @extend %reset-list;
    color: var(--primery-text-color);
   
}
.menu-container__item{
    font-size: 40px;
    line-height: 1.17;
    font-weight: 500;
    &:not(:last-child){
        margin-bottom: 32px;
    }
}
.menu-container__link{
    @extend %reset-link;
    &:hover,
    &:focus,
    &:active {
    color: var(--accent-bgr-btn-color);}

    &--current{
    color: var(--accent-bgr-btn-color);
    }

}
.contacts__list{
    @extend %reset-list;
    display: inline-block;
}
.contacts__link{
    @extend %reset-link;
    line-height: 1.17;
    font-weight: 500;
    letter-spacing: 0.02em;
    margin-bottom: 32px;
    color: var(--main-text);
    &:hover,
    &:focus,
    &:active {
    color: var(--accent-bgr-btn-color);}
        
}

.contacts__phone{
    font-size: 34px;
    margin-bottom: 32px;
    
}
.contacts__link.phone {
    color: var(--accent-bgr-btn-color);
    }

.contacts__email{
    font-size: 24px;
    margin-bottom: 64px;
    
}
.contact-social{
    @extend %reset-list;
    display: flex;
    flex-wrap: wrap;
   

}
.contact-social__item{
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;}
    
.contact-social__link{
    @extend %reset-link;
    color: var(--accent-bgr-btn-color);
    display: flex;
    align-items: center;
    
    .contact-social__item:not(:last-child) &::after{
        content: '';
        display: block;
        width: 22px;
        height: 0px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        transform: rotate(90deg);
    }
}
